:root{
    --head-color: #203656;
    --para-color: #8f9bad;
    --main-color: #fe4f70;
    --back-ground: linear-gradient(to right, rgb(254, 79, 112) 0%, rgb(255, 163, 135) 100%);
    --border-color: #ebebeb;
    --back-back: linear-gradient(to left, rgb(254, 79, 112) 0%, rgb(255, 163, 135) 100%);
}