.about{
    @include heading();
    .about__content{
        background-image: url(../images/map-bg.png);
        text-align: center;
        top: 0;
        left: 0;
        h2{
            font-weight: 700;
            font-size: 40px;
            color: var(--head-color);
            position: relative;
            display: inline-block;
            margin-bottom: 1.5rem;
            span{
                @include poin();
                width: 10px;
                height: 10px;
            }
        }
        p {
            color: var(--para-color);
            line-height: 1.7;
            font-size: 15px;
            margin-bottom: 1.5rem;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                &:hover a{
                    color: var(--main-color);
                }
                margin-right: 20px;
                a{
                    color: var(--head-color);
                    transition: all ease-in-out 0.25s;
                }
            }
        }
    }
    
}