.instagram{
    text-align: center;
    position: relative;
    a{
        h3{
        @include btn();
        overflow: hidden;
        display: inline-block;
        font-size: 16px;
        padding: 0.75rem 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:hover::after{
            width: 200%;
        }
        span{
            position: relative;
            z-index: 5;
        }
        }
    }
    padding-left: 20px;
    padding-right: 20px;
    &__photo{
        padding: 0;
        margin: 0 -9px;
        display: block;
        img{
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 5px;
        }
    }
}