.instagram {
    text-align: center;
    position: relative;
    padding-top: 20px;

   .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1.4rem;

    p {
        font-size: 30px;

    }
        
    }

    padding-left: 20px;
    padding-right: 20px;

    &__photo {
        padding: 0;
        margin: 0 -9px;
        display: block;

        img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 5px;
        }
    }
}