.page-number {
    margin-top: -20px;

    &__wrapper {
        display: flex;
        justify-content: center;

        a:first-child {
            background: var(--back-ground);
            color: #fff;
        }
        a {

        &:hover {
                background: var(--back-ground);
                color: #fff;
            }
            
            :last-child {
                font-size: 8px;
            }

            width: 50px;
            height: 50px;
            margin: 10px;
            display: flex;
            text-align: center;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border: 1px solid var(--border-color);
            color: var(--para-color);
        }
    }
}