.footer  
    .container.ps-5.pe-5
        .row.mt-5
            .col-md-4
                .design © 2022 Katen. Theme by ThemeGer.
            .col-md-4
                +icons
            .col-md-4
                .up
                    a(href="#") 
                        i(class="fa-solid fa-chevron-left") 
                        p.d-inline back to top
