.blog-header
        .container.ps-5.pe-5
            .row.justify-content-between.align-items-center
                .col-4
                    +icons
                .col-4
                    .blog__logo
                        .logo__wrapper
                            img(src="../../../assets/images/avatar-lg.png")
                        .blog__title
                            a(href="#",class="text-decoration-none")
                                h2 katen
                                    span
                            p Minimal Blog & Magazine WordPress Theme
                .col-4
                    .blog__search
                        a(href="#")
                            i(class="fa-solid fa-magnifying-glass")
                        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                            span(class="navbar-toggler-icon") 
                                i(class="fa-solid fa-bars")
header
    .container.ps-5.pe-5
        hr
        ul(class=" me-auto ms-auto mb-2 mb-lg-0 d-flex list-unstyled content-between")
            li(class="nav-item dropdown active")
                a(class="dropdown-toggle main" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") home    
                ul(class="dropdown-menu")
                    li
                        a(class="dropdown-item" ahref="#") magazine
                    li
                        a(class="dropdown-item pers" href="#") personal
                    li
                        a(class="dropdown-item pers" href="#") personal alt
                    li
                        a(class="dropdown-item pers" href="#") classic
                    li
                        a(class="dropdown-item pers" href="#") personal alt
            li(class="nav-item")
                a(aria-current="page" href="#") life style
            li(class="nav-item")
                a(href="#") culture
            li(class="nav-item dropdown items")
                a(class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") features
                ul(class="dropdown-menu main")
                    li(class="list d-flex justify-content-between align-items-center")
                        a(class="dropdown-item" href="#") post layouts
                        i(class="fa-solid fa-chevron-right")
                        ul.dropdown-menu.top-0.start-100
                            li 
                                a(href="#") standard
                            li 
                                a(href="#") full cover
                    li(class="list d-flex justify-content-between align-items-center")
                        a(class="dropdown-item right" href="#") post formats
                        i(class="fa-solid fa-chevron-right")
                        ul.dropdown-menu
                            li 
                                a(href="#") standard
                            li 
                                a(href="#") gallery
                            li 
                                a(href="#") video 
                            li 
                                a(href="#") audio       
                    li(class="list d-flex justify-content-between align-items-center")    
                        a(class="dropdown-item right" href="#") archive 
                        i(class="fa-solid fa-chevron-right")
                        ul.dropdown-menu.top-50.start-100
                            li 
                                a(href="#") list
                            li 
                                a(href="#") grid
                            li 
                                a(href="#") classic 
                            li 
                                a(href="#") wide thub 
                    li
                        a(class="dropdown-item" href="#") auther page
                    li
                        a(class="dropdown-item" href="#") paginated post
                    li
                        a(class="dropdown-item" href="#") 404 page
            li(class="nav-item")
                a(href="#") contact
